<div>
	<!-- Navigation (separate compnent at some point?) -->
	<nav class="navbar navbar-default" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" [routerLink]="['/welcome']">Game On!</a>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a [routerLink]="['/games']">Games</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<router-outlet></router-outlet>
	</div>

	<footer>
		<div>
			&copy; 2017 S. Kyle Korndoerfer
		</div>
	</footer>
</div>
