<h2>Games</h2>
<div class="row">
	<!-- first column -->
	<div class="col-md-4">
		<!-- Card games -->
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Card Games</h3>
			</div>
			<div class="panel-body">
				<em>Games that primarily involve playing cards.</em>
			</div>

			<ul class="list-group">
				<li class="list-group-item">
					<a [routerLink]="['/games/phase10']">Phase-10</a><span class="badge">new</span>
				</li>
			</ul>
		</div>
	</div>

	<!-- Second column -->
	<div class="col-md-4">
		<!-- Dice games -->
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Dice Games</h3>
			</div>
			<div class="panel-body">
				<em>Games that primarily involve dice.</em>
			</div>

			<ul class="list-group">
				<li class="list-group-item">Farkle</li>
			</ul>
		</div>
	</div>

	<!-- Third column -->
	<div class="col-md-4">
		<!-- Backyard games -->
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Backyard / Outdoor Games</h3>
			</div>
			<div class="panel-body">
				<em>Games that are primarliy played in your backyard, on picnics, or camping.</em>
			</div>

			<ul class="list-group">
				<li class="list-group-item">Generic Team Sport</li>
				<li class="list-group-item">Cornhole</li>
				<li class="list-group-item">Ladder Golf</li>
				<li class="list-group-item">Washer Toss</li>
				<li class="list-group-item">Can Jam</li>
			</ul>
		</div>
	</div>
</div>
